<!DOCTYPE html>
<html>
<head>
    <title>Job Application Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <form method="POST">
            <input name="job_title" placeholder="Job Title">
            <input name="company" placeholder="Company">
            <input name="deadline" placeholder="Deadline">
            <input name="status" placeholder="Status (e.g. Applied)">
            <button type="submit">Add Job</button>
        </form>
    </div>
    <div class="container">
        <h2>{{total_apps}}</h2>
        <table border="1">
            <tr>
                <th>Job Title</th>
                <th>Company</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for app in applications %}
            <tr>
                <td>{{app[2]}}</td>
                <td>{{app[3]}}</td>
                <td>{{app[4]}}</td>
                <td>{{app[5]}}</td>
                <td>
                    <a href="/delete/{{app[0]}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>